.p-datatable .p-datatable-header {
    background: none;
}

.p-paginator-current {
    display: none;
}

.p-paginator .p-paginator-page {
    margin-left: 2px;
    margin-right: 2px;
}

.p-paginator .p-paginator-page.p-highlight {
    background-color: #31c44a !important;
    color: white !important;
    border-radius: 100%;
    font-weight: bold;
    padding: 0px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.p-paginator .p-paginator-page:not(.p-highlight):hover {
    background-color: #f0f0f0;
    color: #285598;
    border-radius: 100%;
}

.p-datatable thead {
    background: white !important;
    padding: 10px !important;
    border: 2px solid rgb(241, 241, 241) !important;
}

.p-datatable thead th {
    background-color: #f5f5f5 !important;
    color: #285598 !important;
    margin-top: 200px !important;
    font-family: "Roboto", sans-serif !important;
}

.p-datatable thead th:hover {
    background: #ffffff !important;
}



.p-datatable .p-datatable-tbody>tr>td {
    padding: 15px;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.p-datatable .p-datatable-tbody>tr {
    border-bottom: #dadada solid 1px !important;
}


.p-datatable .p-button {
    border: none !important;
}

